:root {
	--black: #0f0f0f;
	--white: #f6f6f6;
	--gray: #adadad;
	--red: #8e3b46;
	--yellow: #ffc65c;
	--blue: #a6e1fa;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family:
		Iowan Old Style,
		Apple Garamond,
		Baskerville,
		Times New Roman,
		Droid Serif,
		Times,
		Source Serif Pro,
		serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: var(--white);
	background-color: var(--black);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
